<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="JinTeamDB" connectionString="Data Source=jinteamdb2.database.windows.net;Initial Catalog=JinDB;Persist Security Info=True;User ID=gd;Password=!Goodee12" />
    <add name="JinTeamForAdmin.Properties.Settings.JinDBConnectionString"
      connectionString="Data Source=jinteamdb2.database.windows.net;Initial Catalog=JinDB;Persist Security Info=True;User ID=gd;Password=!Goodee12"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>