<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="JinTeamDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\GDC22\Desktop\JinTeam\코딩\JinTeamForAdmin\JinTeamForAdmin\JinTeamForAdmin\JinTeamDB.mdf;Integrated Security=True"/>
  </connectionStrings>
 
</configuration>