<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="JinTeamDB" connectionString="Data Source=jinteamdb2.database.windows.net;Initial Catalog=JinDB;Persist Security Info=True;User ID=gd;Password=!Goodee12"/>
    <!--<add name="JinTeamDB" connectionString="Data Source=jinteamdb.database.windows.net;Initial Catalog=JinTeam;Persist Security Info=True;User ID=gd;Password=!Goodee12"/>-->
  </connectionStrings>
 
</configuration>