<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="conStr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Jin\JinTeamForSeller\JinTeamForSeller\JinTeamDB.mdf;Integrated Security=True"/>
    <add name ="azureCon" connectionString="Data Source=jinteamdb.database.windows.net;Initial Catalog=JinTeam;User ID=gd;Password=!Goodee12;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
</configuration>